extends layout
block content
	.containter
	h1 Analitics
		.row
			.col-8

				table.table
					thead
						tr
							th Path
							th Visits
					tbody
						each log in logs
							tr
								td= log._id
								td= log.visits